.auth-page {
  .auth-desc {
    padding: 50px;
    width: 77%;
    margin: auto;
  }

  .auth-rate {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(#000000, 0.16);
    padding: 30px;
    padding-top: 62px;
  }

  .auth-flag {
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(#000000, 0.07);
    margin: 0 auto -45px;
    z-index: 9;
    position: relative;
  }

  .auth-form {
    width: 60%;
    margin: auto;
  }

}

@media screen and (max-width: 960px){

  .auth-page {
    .auth-form {
      width: 90%;
    }

    .auth-desc {
      width: 90%;
      padding: 20px 0;

    }
  }

}