header {
  .logo {
    width: 130px;
  }

  nav {
    a {
      color: $title-color !important;

      .active, &:Hover {
        color: $main-color !important;
      }
    }
  }
}

@media screen and (max-width: 1260px){

  header {
    .logo {
      width: 110px;
    }
  }

}