header {
  .logo {
    width: 130px;
  }

  &.shadow {
    box-shadow: 0 3px 6px rgba(#000000, 0.16);
  }

  nav {
    a {
      color: $title-color !important;

      &.active, &:Hover {
        color: $main-color !important;
      }
    }
  }
}

@media screen and (max-width: 1260px){

  header {
    .logo {
      width: 100px;
    }
  }

}