@import "../fonts/stylesheet.css";
.v-application {
  font-family: 'ApercuReg' !important;
}

a {
  text-decoration: none !important;
  transition: all ease-in-out 0.2s;
}

.container--fluid {
  max-width: 1640px !important;
  width: 90% !important;
}

.sub-title-s {
  font-size: 1.125rem !important;   // 18px
}

.sub-title {
  font-size: 1.25rem;  // 20px
}

.main-title-m {
  font-size: 1.5rem;  // 24px
}

.text-xl {
  font-size: 2.75rem;
}

.text-xxl {
  font-size: 55px;
}


.full-height {
  height: 100%;
}

.min-height-100 {
  min-height: 100vh;
}

.font-light {
  font-family: 'ApercuLight' !important;
}

.font-med {
  font-family: 'ApercuMed' !important;
}

.white-text {
  color: #ffffff !important;
}

.main-color-text {
  color: $main-color;
}

.main-color-bg {
  background-color: $main-color;
}

.title-color {
  color: $title-color;
}

.light-gray {
  color: $light-gray;
}

.placeholder-color {
  color: $placeholder;
}

.v-text-field--outlined fieldset {
  color: $border-color !important;
}

.flex-1 {
  flex: 1;
}

.v-text-field--outlined fieldset {
  background-color: #ffffff;
}


.theme--light.v-label {
  color: rgba(38, 38, 39, 0.62) !important;
  font-family: 'ApercuLight' !important;
}

.v-carousel {
  border-radius: 12px;
}

@media  (min-width: 1264px) {
  html {
    font-size: 16px !important;
  }
}

@media (max-width: 1264px) and (min-width: 960px) {
  html {
    font-size: 14px !important;
  }

  .text-xxl {
    font-size: 40px;
  }
}

@media (max-width: 959px) {
  html {
    font-size: 12px !important;
  }

  .text-xxl {
    font-size: 35px;
  }
}
