.home-slider {
  ::v-deep {

    .v-carousel__controls__item {
      .mdi:before {
        font-size: 48px;
        border-radius: 12px;
      }

      &:before {
        display: none;
      }

      &.v-item--active {
        i {
          opacity: 1;
        }
      }
    }
  }

  .slider-content {
    padding: 70px;
  }
}

@media screen and (max-width: 960px){

  .home-slider {
    .slider-content {
      padding: 30px;
    }
  }
}